<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF2Image</title>
    <style>
        .form-container {
            width: 400px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div style="width: 400px;">
            <h1 class="text-center mb-2">PDF2Image</h1>
            <h5 class="text-center mb-2">
                <% if (result.status === 'error') { %>
                    Error
                    <%} else { %>
                        Success
                    <% } %>
            </h5>
            <p class="text-center mb-2" style="font-size: 12px;">
                <%= result.message  %>
            </p>
        </div>
    </div>
</body>
</html>
